[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
gssutils = {editable = true, ref = "v0.10.2", git = "https://github.com/GSS-Cogs/gss-utils"}
pandas = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.7"
